* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Cairo', sans-serif;
    font-size: calc(0.75em + 1vmin);

}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}


.header-container-fluid {
    background-image: url("images/pexels-sorapong-chaipanya-edit.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 700px;
    ;

}


.header-button {
    font-size: 2rem;
    border: 2px solid grey;
    border-radius: 10px;
    background-color: white;
    color: black;

}

.contactLink {

    text-decoration: none;
}

.quote {
    background-image: url("images/quote-definitive.png");
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: cover;
    margin-top: -120px;
    height: 900px;
    padding: 0;
    position: relative;
    z-index: 10;


}


.quote-button {
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 1rem;
    border: 2px solid grey;
    border-radius: 10px;
    background-color: white;
    color: black;

    font-weight: bold;
}


.quote-text {

    font-weight: bold;
}


.container-metodo {
    background-image: url("images/metodo-background.png");
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: cover;
    margin-top: -150px;
    height: 1000px;
    padding: 0;
    position: relative;

}

@media (max-width: 575.98px) {

    .container-metodo {

        height: 1000px
    }

    .quote {

        height: 900px
    }

}

@media (min-width: 768px) {

    .container-metodo {

        height: 800px
    }
}

@media (min-width: 992px) {

    .quote {

        height: 500px;
    }
}

@media (min-width: 1200px) {

    .container-metodo {

        height: 700px
    }
}

.metodo-text {

    padding-top: 10rem;
}

.container-cards {

    padding-top: 4rem;

}


.card-header-meet-color {

    background-color: rgba(255, 145, 0, 0.897);
}

.card-header-tier-color {

    background-color: rgb(6, 32, 80);
}

.card-header-when-color {

    background-color: rgb(0, 29, 158);

}

.card-header-relax-color {

    background-color: rgb(255, 217, 1)
}

.services-icon-1 {

    font-size: 2.5rem;
    color: orange;
    margin: 0;
}

.services-text-1 {

    font-size: 1rem;
}

.services-icon-2 {

    font-size: 2.5rem;
    color: rgba(8, 8, 194, 0.842);
    ;
}

.services-text-2 {

    font-size: 1rem;
}

.services-icon-3 {

    font-size: 2.5rem;
    color: rgb(13, 114, 230);
}

.services-text-3 {

    font-size: 1rem;
}

.services-icon-4 {
    font-size: 2.5rem;
    color: rgb(165, 165, 8);
}

.services-text-4 {

    font-size: 1rem;
}

.card-title-why-us {

    font-weight: bold;
    font-size: 1.5rem;
}

.why-us-image {

    border-top: 4px solid rgba(24, 57, 243, 0.808);
    border-left: 4px solid rgba(24, 57, 243, 0.808);
    border-right: 4px solid rgba(24, 57, 243, 0.808);
    border-bottom: 4px solid blue;
    position: relative;
    margin-right: 50%;
    margin-left: 50%;
    z-index: 50;
}

.why-us-card {

    border: 4px solid rgba(24, 57, 243, 0.808)
}

/* css da pagina contacts */

ul,
li {
    list-style: none;
}

.footer-text {

    color: rgb(13, 114, 230)
}

#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td,
#customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

#customers tr:hover {
    background-color: #ddd;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #1248dd;
    color: white;
}