div {
    border: 2px solid blue;
}

body {
    font-family: 'Cairo', sans-serif;
}

.navbar-toggler {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.fixed-top {
    background-color: white;
    color: #0267FF;
    display: flex;


    z-index: 2;
}

.navbar-light .navbar-toggler-icon {
    stroke: #0267FF !important;
}

.nav-link {
    color: #0267FF !important;
}