* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Cairo', sans-serif;



}

.header-container-fluid {
    background-image: url("images/pexels-sorapong-chaipanya-edit.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 700px;
    font-size: 50px;

}



.header-button {
    font-size: 0.75em;
    border-radius: 10px;
}



.header-button {
    font-size: 2.5rem;
    border: 2px solid grey;
    border-radius: 10px;
    background-color: white;
    color: black;
}



.quote {
    background-image: url("images/quote-definitive.png");
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: cover;
    margin-top: -100px;
    height: 800px;
    padding: 0;
    position: relative;
    z-index: 10;
    background-attachment: initial;

}




h2 {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    padding: 2rem;
}

.metodo {
    background-image: url("images/metodo-background.png");
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: cover;
    margin-top: -100px;
    height: 900px;
    padding: 0;
    position: relative;

}

div.row.metodo-row>div {
    position: relative;
    margin-top: 20%;

}



.fa-light .fa-brush {
    color: blue;
}